body{
    margin: 0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40em;
    height: 35em;
    border: 1px solid black;
    background: #4357AD;
}
.center{
    width: 85%;
}
.text{
    color: white;
    font-family: "Merriweather", 'Times New Roman', Times, serif;
}
.text h1{
    font-size: 3em;
    font-weight: bold;

}
.text span{
    display: block;
    color: #5FDD9D;
    font-weight: bolder;
}
.btn-div{
    margin: 2em 0;
    display: flex;
    width: 100%;
    justify-content: left;
}
.btn-div button{
    padding: 0.8em 1.1em;
    background: #5FDD9D;
    color: #2D2D2A;
    font-size: 1.5em;
    font-weight: bolder;
    border: none;
    border-radius: 1em;
}
.btn-div button:hover{
    cursor: pointer;
    background: #E4DFDA;
}
.divider{
    border-bottom: 2px solid #9B9FB5;
}
.block{
    display: block;
    margin: 0 0 1em;
    width: 100%;
    height: 5em;
}
.block-hero{
    display: block;
    margin: 0;
    width: 100%;
}
.generated{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.password{
    padding: 0.5em 1em;
    background: #CBF3F0;
    border-radius: 1em;
    font-size: 1.2em;
    color: #2D2D2A;
    font-weight: bold;
    user-select: none;
}

.block2{
    display: block;
    margin: 0;
    width: 100%;
    height: 5em;
}
#copiedMessage{
    font-size: 2em;
    color: white;
}
.password:hover{
    cursor: pointer;
    background: #5FDD9D;
}
@media (max-width: 700px){
    .main{
        align-items:baseline;
    }
    .container{
        height: 50em;
    }
    .text h1{
        font-size: 2.2em;
        margin-top: 2em;
    }
    .btn-div button{
        font-size: 1em;
    }
    .text h2{
        font-size: 1.4em;
    }
    .generated{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2em;
    }
    .generated p {
        margin: 0;
    }
    .password{
        font-size: 1.2em;
    }
}